.Root {
  display: flex;
  flex-flow: row;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.81) 43.75%, rgba(5, 5, 5, 0.6885) 100%);

  .VideoContainer {
    width: 80%;
    height: 100vh;
  }

  .PlaylistContainer {
    width: 20%;
    min-width: 250px;
    box-sizing: border-box;
    padding: 15px;
    color: #FFFFFF;

    .List {
      margin-top: 25px;
      list-style: none;
      padding: 0;
      margin: 0;
    }
  }
}

.VideoInput {

  input {
    margin-bottom: 10px;
    display: flex;
    flex-flow: column;
  }

    button {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
    background-color: #238A65;
    cursor: pointer;
  }
}
